services:
  mikrotik-addresslist-web:
    build: . 
    env_file:
      - .env
    container_name: mikrotik-addresslist-web 
    ports:
      - "5000:5000"
    restart: unless-stopped 
    command: python app.py